
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
    body {
      background-color: #fff3f3;
      font-family: 'Pacifico', cursive;
      color: #ff1493;
      text-align: center;
      padding: 40px;
    }
    .container {
      background-color: #ffe6f0;
      padding: 30px;
      border-radius: 25px;
      box-shadow: 5px 5px 15px #ccc;
    }
    h1 {
      font-size: 38px;
      margin-bottom: 10px;
    }
    h2 {
      font-size: 28px;
      color: #ff69b4;
    }
    p {
      font-size: 22px;
      color: #d63384;
    }
